html {
    scroll-behavior: smooth
}
.navigation {
    display: grid;
    grid-template-columns: 87px 1fr;
    grid-template-rows:  1fr;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #bfbab0;
    padding: 3px;
    text-align: center;

}
.logo {
    display: inline;
    text-align: start;
    margin: 3px;
    width: 90%;
    height: auto;
    border-radius: 15px;
    grid-column: 0;
    grid-row: 1;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    list-style-type: none;
    text-align: left;
    margin: 0px 0px 0px 7px;
    padding: 0px;
}
li {
    display: inline;
    margin-right: 15px;

}
a {
    color: #1d1a17;
    text-decoration: none;
    font-size: 22px;
}
a:hover {
    color: #1d1a17;
    text-decoration: none;
}
a:active {
    color: #1d1a17;
    text-decoration: none;
}
a:visited {
    color: #1d1a17;
    text-decoration: none;
}
body {
    background-color: #3d3730;
}
body, html {
    margin: 0;
    padding: 0;
}
.container1 {
    background: url('mountain.jpg') center/cover no-repeat;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
}
.moutain {
    width: 100%;
    height: 360px;
    background: url('mountain.jpg') center/cover no-repeat;
}
.quote {
    text-align: center;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 4px;
    font-size: 22px;
    grid-column: 4;
    grid-row: 4;
}
.main_content {
    padding: 3% 10%;
}
.aboutus {
    text-align: center;
}
.aboutusinfo {
    font-size: 18px;
}
h2 {
    font-size: 28px;
}
h3 {
    font-size: 24px;
}
.teamcards {
    display: inline;
    text-align: center;
    margin: 20px;
}
.teamcard {
    display: inline-block;
    background-color: #bfbab0;
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
    width: 250px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.teamtext {
    font-size: 18px;
}
.teamphoto {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}.teamtext2 {
    color: #1d1a17;
}
.propositions {
    text-align: center;
}
.propositionsinfo {
    font-size: 18px;
}
.travelcards {
    display: inline;
    text-align: center;
    margin: 20px;
}
.travelcard {
    display: inline-block;
    background-color: #bfbab0;
    padding: 15px;
    margin: 5px;
    border-radius: 15px;
    width: 320px;
}
.travelphoto {
    width: 300px;
    height: 200px;
    border-radius: 15px;
}
.form {
    font-size: 22px;
}